{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta ea officia error accusamus eos ipsum cumque iure
            beatae vel incidunt velit perspiciatis animi quia omnis modi, debitis sunt minus, reiciendis blanditiis nisi. Aut
            explicabo eligendi eaque dolorum earum voluptatibus ipsum delectus nobis! Tempora assumenda ullam autem tempore
            corporis rerum ab!</p>
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin">SignIn</a>
            <a class="btn btn-dark" href="/signup/">SignUp</a>
        </div>
    </section>
</main>
{% endblock %}